
  /*** HEADER ***/
 #header-nav {
   background-color: #87bdd8;
   border-radius: 0;
   border: 0;
   height: 50px;
   padding-bottom: 0;
 }
 .container {
   padding-left: 1px;
   padding-right: 1px;
 }
.navbar-brand {
  padding-top: 0;
}
/* restro name */
.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #36486b;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  /* line-height: .75; */
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 0;
  background-color: white;
  /* width: 100%; */
}
.col-xs-12  {
  padding: 0 0 0 0;
}
#nav-list #list {
  margin: 1px;
}
 #nav-list a {
  color: #36486b;
  font-weight: bold;
  text-align: center;
  border-width: thin;
  border-style: solid;
}

 #nav-list a:hover {
  background: #36486b;
  color: white
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


/* HEADING */
#heading {
  font-family: 'Lora', serif;
  font-weight: bold;
  color: #36486b;
}


/* main tile */
#main {
  height: 1000px;
  margin-top: 20px;
  /* background-color: #d5f4e6; */
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}
#main h4 {
    font-family: 'Lora', serif;
    text-decoration: underline;
    font-weight: bold;
}
#outer {
position: relative;
  background-color: #d5f4e6;
  width: 90%;
   height: 900px;
  border: .5px solid black;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
#outer p {
  padding:40px 10px 10px 10px;
  /* padding top: 50px; */
}
#outer a {
  position:absolute;
  bottom: 0;
  text-align:center;
}
#outer a span{
  text-align: center;
  color: black;
  font-size: 30px;
  opacity: .8;
  bottom: 0;
}
h3 {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
   width: 100%;
  background-color: #36486b;
  color: white;
   height: 30px;
   vertical-align: middle;
   /*
  text-align: center;
  vertical-align: middle;
  font-family: Helvetica;
  color: black; */
}
